<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserInfoMapper">

	<select id="selectByUserId" resultType="UserInfo">
		SELECT *
		FROM user_info ui
		WHERE ui.user_id = #{userId};
	</select>
	
	<update id="insertLastLoginDate">
	 UPDATE user_info set last_login_date = #{lastLoginDate}
	 WHERE user_id = #{userId}
	</update>
	
	<insert id="insertUserInfo">
	 INSERT INTO user_info
	 (user_id, user_name, user_pw, user_point, user_rank, last_login_date, user_created_at, user_updated_at)
	 VALUES (#{userId}, #{userName}, #{userPW}, #{userPoint}, 
	 #{userRank}, #{lastLoginDate}, #{userCreatedAt}, #{userUpdatedAt});
	</insert>
	
	<insert id="createQuizResult">
	 INSERT INTO quiz_results
		 (user_id, 
		 genre1_all_answer_num, genre1_correct_num, 
		 genre2_all_answer_num, genre2_correct_num, 
		 genre3_all_answer_num, genre3_correct_num, 
		 genre4_all_answer_num, genre4_correct_num, 
		 genre5_all_answer_num, genre5_correct_num, 
		 genre6_all_answer_num, genre6_correct_num, 
		 genre7_all_answer_num, genre7_correct_num, 
		 genre8_all_answer_num, genre8_correct_num, 
		 genre9_all_answer_num, genre9_correct_num, 
		 genre10_all_answer_num, genre10_correct_num)
	 VALUES 
		 (#{userId},
		 0,0,
		 0,0,
		 0,0,
		 0,0,
		 0,0,
		 0,0,
		 0,0,
		 0,0,
		 0,0,
		 0,0);
	</insert>
	
	<update id="updateUserInfo">
	 UPDATE user_info
	 SET user_name = #{userName}, user_pw = #{userPW}, user_updated_at = #{userUpdatedAt}
	 WHERE user_id = #{userId}
	</update>
	
	<select id="getUserInfoByUserId">
	 SELECT user_id,user_name,user_point,user_rank,last_login_date FROM user_info WHERE user_id = #{userId}
	</select>

</mapper>